<header class="container-fluid py-4 navbar bg-primary d-flex justify-content-between mt-5">
    <div class="container">
        <div>
            <span class="navbar-brand mb-0 h1 text-white">
                Olá, {{ session.get("user_name") }}
            </span>
        </div>
        <div>
            <a href="{{ url_for('auth.logout') }}"><span class="mx-0 nav-brand mb-0 text-white">logout</span></a>
            <a href="{{ url_for('auth.logout') }}"><img class="mx-2" src="../../static/icons/logout.svg" alt="logout"></a>
        </div>
    </div>
</header>