<!-- MENU DE ABAS -->
<ul class="nav nav-tabs mb-4" id="mainTabs" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="agendados-tab"
                data-bs-toggle="tab"
                data-bs-target="#Agendados"
                type="button"
                role="tab">
            Agendados
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="finalizados-tab"
                data-bs-toggle="tab"
                data-bs-target="#finalizados"
                type="button"
                role="tab">
            Finalizados
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="concluido-tab"
                data-bs-toggle="tab"
                data-bs-target="#concluido"
                type="button"
                role="tab">
            Concluido
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="concluido-tab"
                data-bs-toggle="tab"
                data-bs-target="#concluido"
                type="button"
                role="tab">
            Em Abertos
        </button>
    </li>


</ul>


<!-- CONTEÚDO DAS ABAS -->
<div class="tab-content" id="mainTabsContent">

    <!-- HOME -->
    <div class="tab-pane fade show active"
         id="home"
         role="tabpanel"
         aria-labelledby="home-tab">

        {% include "home/home.html" %}

    </div>


    <!-- CLIENTES -->
    <div class="tab-pane fade"
         id="customers"
         role="tabpanel"
         aria-labelledby="customers-tab">

        {% include "customer/customer.html" %}

    </div>


    <!-- PETS -->
    <div class="tab-pane fade"
         id="pets"
         role="tabpanel"
         aria-labelledby="pets-tab">

        {% include "pet/pet.html" %}

    </div>


    <!-- SERVIÇOS -->
    <div class="tab-pane fade"
         id="services"
         role="tabpanel"
         aria-labelledby="services-tab">

        {% include "service/service.html" %}

    </div>

</div>