<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Info Pacote</title>
</head>
<body data-bs-theme="dark">
    <header class="container-fluid bg-primary d-flex justify-content-between p-2 pt-3">
        <div class="mt-1">
            <a onclick="window.history.back()" href="#">
                <img src="../../static/icons/retorno.svg" alt="retornar">
            </a>
        </div>
        <div>
            <h1 class="text-white">Informações Pacote</h1>
        </div>

        <div class="mx-2"></div>
    </header>

    <main class="container">

        <h6 class="mt-3 ">Pacote</h6>
        <div id="infoPackage" class="border rounded p-2">
            <p>ID: {{appointment.id}}</p>
            <p>Cliente: {{customer.name}}</p>
            <p>Pet: {{pet.name}}</p>
            <p>Pacote: {{package.name}}</p>
            <p>Serviços: {{package.services}}</p>
            <p>Preço P/Pequeno: {{package.price_small}} R$</p>
            <p>Preço P/Médio: {{package.price_medium}} R$</p>
            <p>Preço P/Grande: {{package.price_large}} R$</p>

            {% if appointment.status == "in_progress" %}
                <p class="text-white">Status: <span class="bg-warning p-1 rounded">Em andamento</span></p>
            {% elif appointment.status == "canceled" %}
                <p class="text-white">Status: <span class="bg-danger p-1 rounded">Cancelado</span></p>
            {% else %}
                <p class="text-white">Status: <span class="bg-success p-1 rounded">Completo</span></p>
            {% endif %}

            <p>Data agendamento: {{appointment.scheduled_at}}</p>
        </div>
              
        <button 
            type="button"
            class="btn btn-primary w-100 mt-3"
            data-bs-toggle="modal"
            data-bs-target="#editPackage">

            Editar

        </button>


        <button
            type="button"
            class="btn btn-danger w-100 mt-3"
            data-bs-toggle="modal"
            data-bs-target="#confirmDelete">
            Deletar
        </button>


        <!-- Botão para abrir o modal -->
        <button
            type="button"
            class="btn btn-success mt-3"
            data-bs-toggle="modal"
            data-bs-target="#completeServiceModal"
            style="width: 100%;"
        >
            Finalizar Serviço
        </button>

    </main>



        <!-- Modal Cliente -->
    <div class="modal fade" id="editPackage" tabindex="-1" aria-hidden="true">

        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <!-- Cabeçalho -->
                <div class="modal-header">

                    <h5 class="modal-title">
                        Editar Cliente
                    </h5>

                    <button 
                        type="button" 
                        class="btn-close" 
                        data-bs-dismiss="modal"
                        aria-label="Fechar">
                    </button>

                </div>


                <!-- Corpo -->
                <div class="modal-body">

                        <form action="{{ url_for('appointment.update', id_appointment=appointment.id) }}" method="post">


                            <h4 class="my-3">{{ customer.name }}</h4>
                            <input type="text" name="customer_id" value="{{ customer.id }}" hidden>

                            <select class="form-select my-3" aria-label="Default select example">
                                <option selected>Pets do Cliente</option>
                                {% for pet in customer.pets %}
                                    <option value="{{ pet.id }}">{{ pet.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="hidden" id="pet_id" name="pet_id">

                            <select class="form-select my-3" aria-label="Default select example">
                                <option selected>Selecione um usuário</option>
                                {% for u in USERS %}
                                    <option value="{{ u.id }}">{{ u.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="hidden" id="user_id" name="user_id">

                            <select class="form-select my-3" aria-label="Default select example">
                                <option selected>Selecione um serviço</option>
                                {% for pack in PACKAGES %}
                                    <option value="{{ pack.id }}">{{ pack.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="hidden" id="package_id" name="package_id">

                            <div class="form-check my-3">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="status"
                                    id="status_in_progress"
                                    value="in_progress"
                                    checked
                                >
                                <label class="form-check-label" for="status_in_progress">
                                    Em andamento
                                </label>
                            </div>

                            <div class="form-check my-3">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="status"
                                    id="status_canceled"
                                    value="canceled"
                                >
                                <label class="form-check-label" for="status_canceled">
                                    Cancelado
                                </label>
                            </div>

                            <div class="form-check my-3">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="status"
                                    id="status_completed"
                                    value="completed"
                                >
                                <label class="form-check-label" for="status_completed">
                                    Completo
                                </label>
                            </div>

                            <div class="mb-3">
                                <label for="date" class="form-label">Data do Agendamento</label>

                                    <input
                                        type="date"
                                        class="form-control"
                                        id="date"
                                        name="date"
                                        value="{{appointment.scheduled_at}}"
                                        required
                                    >
                            </div>

                            <div class="form-floating my-3">
                                <textarea class="form-control" name="notes" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Observações</label>
                            </div>


                                <!-- Rodapé -->
                                <div class="modal-footer">

                                    <button 
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">

                                        Cancelar

                                    </button>


                                    <button 
                                        type="submit"
                                        class="btn btn-primary">

                                        Salvar Cliente

                                    </button>

                                </div>

                        </form>

                    </div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Confirmar exclusão</h5>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">
                    Tem certeza que deseja excluir este agendamento?
                    <br><br>
                    <strong>Essa ação não poderá ser desfeita.</strong>
                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Cancelar
                    </button>

                    <form method="post"
                        action="{{ url_for('appointment.delete', id_appointment=appointment.id) }}">

                        <button
                            type="submit"
                            class="btn btn-danger">
                            Sim, excluir
                        </button>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <!-- Modal de Confirmação -->
    <div
        class="modal fade"
        id="completeServiceModal"
        tabindex="-1"
        aria-labelledby="completeServiceModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="completeServiceModalLabel">
                        Confirmar Finalização
                    </h5>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Fechar"
                    ></button>
                </div>

                <div class="modal-body">
                    <p class="mb-0">
                        Tem certeza de que deseja finalizar este serviço?
                    </p>
                    <small class="text-muted">
                        Após a confirmação, o status será alterado para <strong>Concluído (Completed)</strong>.
                    </small>
                </div>

                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Cancelar
                    </button>

                    <form
                        action="{{ url_for('appointment.completed_appointments', id_appointment=appointment.id) }}"
                        method="post"
                    >
                        <button
                            type="submit"
                            class="btn btn-success"
                        >
                            Sim, finalizar serviço
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>