<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>HOME</title>
</head>
<body data-bs-theme="dark">

    {% include "components/nav.html" %}

    {% include "components/header.html" %}


    <main class="container mt-4">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        

        <!-- MENU DE ABAS -->
        <ul class="nav nav-tabs mb-4 d-flex justify-content-between" id="mainTabs" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active d-flex flex-column align-items-center"
                        id="scheduled-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#scheduled"
                        type="button"
                        role="tab">
                        <img src="../../static/icons/" alt="">
                    <span class="text-white text-tab-mobile">Agendados</span>
                    <img src="../../static/icons/scheduled.png" 
                        alt="finished" 
                        style="width: 30px;"
                        class="btn-tab-mobile"> 
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex flex-column align-items-center"
                        id="finished-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#finished"
                        type="button"
                        role="tab">
                    <span class="text-white text-tab-mobile">Finalizados</span>
                    <img src="../../static/icons/finished.png" 
                        alt="finished" 
                        style="width: 30px;"
                        class="btn-tab-mobile">    
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex flex-column align-items-center"
                        id="completed-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#completed"
                        type="button"
                        role="tab">
                    <span class="text-white text-tab-mobile">Concluidos</span>
                    <img src="../../static/icons/completed.png" 
                        alt="finished" 
                        style="width: 30px;"
                        class="btn-tab-mobile"> 
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex flex-column align-items-center"
                        id="in-progress-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#in-progress"
                        type="button"
                        role="tab">
                    <span class="text-white text-tab-mobile">Em Aberto</span>
                    <img src="../../static/icons/in_progress.png" 
                        alt="finished" 
                        style="width: 30px;"
                        class="btn-tab-mobile"> 
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex flex-column align-items-center"
                        id="canceled-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#canceled"
                        type="button"
                        role="tab">
                    <span class="text-white text-tab-mobile">Cancelados</span>
                    <img src="../../static/icons/canceled.png" 
                        alt="canceled" 
                        style="width: 30px;"
                        class="btn-tab-mobile"> 
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link d-flex flex-column align-items-center"
                        id="awaiting-payment-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#awaiting-payment"
                        type="button"
                        role="tab">
                    <span class="text-white text-tab-mobile">Aguardando Pagamento</span>
                    <img src="../../static/icons/payment.png" 
                        alt="finished" 
                        style="width: 30px;"
                        class="btn-tab-mobile"> 
                </button>
            </li>

        </ul>


        <!-- CONTEÚDO DAS ABAS -->
        <div class="tab-content" id="mainTabsContent">

            <!-- AGENDADOS -->
            <div class="tab-pane fade show active"
                id="scheduled"
                role="tabpanel"
                aria-labelledby="scheduled-tab">

                {% include "components/tabs/scheduled.html" %}

            </div>


            <!-- FINISHED -->
            <div class="tab-pane fade"
                id="finished"
                role="tabpanel"
                aria-labelledby="finished-tab">

                {% include "components/tabs/finished.html" %}

            </div>


            <!-- COMPLETED -->
            <div class="tab-pane fade"
                id="completed"
                role="tabpanel"
                aria-labelledby="completed-tab">

                {% include "components/tabs/completed.html" %}

            </div>


            <!-- IN_PROGRESS -->
            <div class="tab-pane fade"
                id="in-progress"
                role="tabpanel"
                aria-labelledby="in-progress-tab">

                {% include "components/tabs/in_progress.html" %}

            </div>

            <!-- CANCELED -->
            <div class="tab-pane fade"
                id="canceled"
                role="tabpanel"
                aria-labelledby="canceled">

                {% include "components/tabs/canceled.html" %}

            </div>

            <!-- AWAITING PAYMENT -->
            <div class="tab-pane fade"
                id="awaiting-payment"
                role="tabpanel"
                aria-labelledby="awaiting-payment-tab">

                {% include "components/tabs/awaiting_payment.html" %}

            </div>

        </div>


    </main>

    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>